@model PhoneJZ.App_Data.OrderPro

@{
    ViewBag.Title = "Details";
}

<main style="border-radius: 15px; background: #e0e0e0; padding: 5px; ">
    <h1 class="text-center">Hóa Đơn Của @Model.fullname</h1>
    <div class="container bg-white" id="bill">
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                    <caption style="caption-side:top">
                        <h2 style="color:black;">Thông tin hóa đơn</h2>
                    </caption>
                    <tr>
                        <th class="text-nowrap">Ngày lập</th>
                        <td>@Html.DisplayFor(e => e.dateOrder)</td>
                    </tr>
                    <tr class="text-nowrap">
                        <th>Khách hàng</th>
                        <td>@Model.fullname</td>
                    </tr>
                    <tr>
                        <th>Địa chỉ</th>
                        <td>@Html.DisplayFor(e => e.address)</td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <table class="table table-bordered">
                    <caption style="caption-side:top">
                        <h2  style="color:black;">Chi tiết hóa đơn</h2>
                    </caption>
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Hình Ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                            <th>Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderDetails)
                        {
                            int x = 1;
                            <tr>
                                <td>@x.ToString()</td>
                                <td><img src="~/images/@item.Product.image" height="50" /></td>
                                <td>@item.Product.name</td>
                                <td>@item.quantity</td>
                                <td>@Html.DisplayFor(model => item.Product.price)</td>
                                <td>@Html.DisplayFor(model => item.Product.totalPrice)</td>
                            </tr>
                            x++;
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="fw-bold">Thành Tiền</td>
                            <td colspan="2">@Html.DisplayFor(model => model.totalPrice) VNĐ</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="fw-bold">Tổng Hóa Đơn</td>
                            <td colspan="2">@Html.DisplayFor(model => model.totalPrice) VNĐ</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</main>
